.auth-btn-color {
  background-color: #e2bc96;
  color: white;
  border-style: solid;
  border-color: #e5e7eb;
  border-width: 3px;
  border-radius: 0.75rem;
}

.serif {
  font-family: serif;
}

button:hover {
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}

input, textarea {
  caret-color: black;   /* キャレットの色を黒に指定 */
  cursor: text;         /* マウスを乗せたときにI字型 */
}